/* aliensvg.scss
  ------------------------------------------------------------ */
.alien-color-default {
  fill: #2A6D96;
}

.alien-color-5 {
  fill: #FC5E7D;
}

.alien-color-2 {
  fill: #CE70F9;
}

.alien-color-3 {
  fill: #FC7038;
}

.alien-color-4 {
  fill: #41D5D8;
}

.alien-color-1 {
  fill: #37C45F;
}

.alien-svg-cls-1 {
  isolation: isolate;
}

.alien-svg-cls-2 {
  fill: #41d5d8;
}

.alien-svg-cls-3 {
  fill: #fc7038;
}

.alien-svg-cls-4 {
  fill: #37c45f;
}

.alien-svg-cls-5 {
  fill: #fc7087;
}

.alien-svg-cls-11,
.alien-svg-cls-15,
.alien-svg-cls-22,
.alien-svg-cls-6 {
  fill: #fff;
}

.alien-svg-cls-6 {
  stroke: #badfe0;
}

.alien-svg-cls-11,
.alien-svg-cls-15,
.alien-svg-cls-6 {
  stroke-miterlimit: 10;
  stroke-width: 0.95px;
}

.alien-svg-cls-7 {
  fill: #76b0b4;
}

.alien-svg-cls-8 {
  fill: #618c8c;
}

.alien-svg-cls-9 {
  fill: #2c5b5b;
}

.alien-svg-cls-10,
.alien-svg-cls-26 {
  fill: #fbfcfc;
}

.alien-svg-cls-10 {
  opacity: 0.7;
}

.alien-svg-cls-11 {
  stroke: #8cdd80;
}

.alien-svg-cls-12 {
  fill: #82ce7a;
}

.alien-svg-cls-13 {
  fill: #698e55;
}

.alien-svg-cls-14 {
  fill: #12560e;
}

.alien-svg-cls-15 {
  stroke: #e8bcbc;
}

.alien-svg-cls-16 {
  fill: #ff8383;
}

.alien-svg-cls-17 {
  fill: #7c5353;
}

.alien-svg-cls-18 {
  fill: #562b2b;
}

.alien-svg-cls-19 {
  fill: url("#sprite-alien-grad-1");
}

.alien-svg-cls-20 {
  fill: url("#sprite-alien-grad-2");
}

.alien-svg-cls-21 {
  opacity: 0.3;
}

.alien-svg-cls-23 {
  fill: #402f5b;
}

.alien-svg-cls-24 {
  fill: url("#g1");
}

.alien-svg-cls-25 {
  fill: url("#sprite-alien-grad-4");
}

.alien-svg-cls-26 {
  opacity: 0.5;
}

.alien-svg-cls-27 {
  fill: #f4c653;
}

.alien-svg-cls-28 {
  fill: #996d1f;
}

.alien-svg-cls-29 {
  fill: #594b2c;
}

.alien-svg-cls-30 {
  opacity: 0.4;
}

.alien-svg-cls-31,
.alien-svg-cls-34 {
  fill: #231815;
}

.alien-svg-cls-31 {
  mix-blend-mode: hard-light;
  opacity: 0.3;
}

.alien-svg-cls-32 {
  fill: #3c3d47;
}

.alien-svg-cls-33 {
  fill: #ffb6b6;
}

.alien-svg-cls-34 {
  mix-blend-mode: overlay;
}

.alien-svg-cls-35 {
  fill: none;
}

.alien-jumping {
  animation: alienAnim1 0.9s ease 1 normal;
}

@keyframes alienAnim1 {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  60%  { transform: scale(0.9, 1.2) translate(0%, -50%); }
  75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
  85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}
