/* createmufo.scss
  ------------------------------------------------------------ */
#create-mufo {
  position: relative;
  overflow: hidden;
  .mufo-dj-booth {
    position: absolute;
    width: 100%;
    bottom: 20px;
    pointer-events: none;
  }
  .custom-mufo {
    position: absolute;
    top: 116px;
    left: 0;
    display: flex;
    width: 100%;
    height: calc(100% - 300px);
    min-height: 250px;
    justify-content: space-around;
    align-items: center;
    padding: 8px 30px;
  }
  .custom-mufo-inner {
    position: relative;
    width: 120px;
    height: 190px;
    padding: 4px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border: 4px solid #fff;
      background-color: rgba(255, 255, 255, 0.4);
      mix-blend-mode: soft-light;
      border-radius : 10px;
      width: 120px;
      height: 190px;
      pointer-events: none;
    }
  }
  .custom-mufo-hdg {
    color: #fff;
    font-size: 1.4rem;
    text-indent: 1px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 32px;
  }
  .btn-list {
    position: absolute;
    bottom: 0;
    left: 0;
    > li:last-child a.disabled {
      color : #4490B2;
      pointer-events: none;
    }
  }
  .custom-mufo-list-1 {
    padding: 0 9px 0;
    display: flex;
    flex-wrap: wrap;
    > li {
      width: 50%;
    }
    label {
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 30px;
      position: relative;
      border-radius: 50%;
      padding-top: 6px;
      &:before {
        content: '';
        display: none;
        width: 48px;
        height: 48px;
        position: absolute;
        top: -9px;
        left: -9px;
        background : url('../img/bg-parts-select.svg') no-repeat 0 0;
      }
    }
    li {
      padding: 9px;
      &:first-child label {
        background-color: #ffab15;
      }
      &:nth-child(2) label {
        background-color: #fe356f;
      }
      &:nth-child(3) label {
        background-color: #1e57ff;
      }
      &:nth-child(4) label {
        background-color: #a000e5;
      }
      &:nth-child(5) label {
        background-color: #14a800;
      }
      &:nth-child(6) label {
        background-color: #333333;
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label:before {
        display: block;
      }
    }
  }
  .custom-mufo-list-2 {
    padding: 0 12px 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    > li {
      width: 40.8px;
      height: 40.8px;
      padding: 2.4px;
      margin-top: 5px;
    }
    label {
      display: block;
      margin: 0 auto;
      width: 36px;
      height: 36px;
      position: relative;
      padding-top: 6px;
      background-size: 36px 36px;
      &:before {
        content: '';
        display: none;
        width: 40.8px;
        height: 40.8px;
        border: 2.4px solid #00fce9;
        position: absolute;
        top: -2.4px;
        left: -2.4px;
      }
    }
    li {
      &:first-child label {
        background-image: url('../img/bg-mufo-pattern-thum-1.png');
      }
      &:nth-child(2) label {
        background-image: url('../img/bg-mufo-pattern-thum-2.png');
      }
      &:nth-child(3) label {
        background-image: url('../img/bg-mufo-pattern-thum-3.png');
      }
      &:nth-child(4) label {
        background-image: url('../img/bg-mufo-pattern-thum-4.png');
      }
      &:nth-child(5) label {
        background-image: url('../img/bg-mufo-pattern-thum-5.png');
      }
      &:nth-child(6) label {
        background-image: url('../img/bg-mufo-pattern-thum-6.png');
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label:before {
        display: block;
      }
    }
  }
}
