/* header.scss
  ------------------------------------------------------------ */
#header {
  height: 44px;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: #011944;
  .logo {
    margin-top: 7px;
    text-align: center;
    img {
      width: 65.134px;
      height: auto;
    }
  }
  .btn-header {
    position: absolute;
    top: 0;
    display: none;
    width: 44px;
    height: 44px;
    background-color: #00387C;
    .icon {
      color: #50c1ff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.btn-left {
      left: 0;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      .icon {
        &.type-1 {
          width: 16.262px;
          height: 16.262px;
        }
        &.type-2 {
          width: 12px;
          height: 12px;
        }
        &.type-3 {
          width: 15.795px;
          height: 14px;
        }
      }
    }

    &.btn-right {
      right: 0;
      border-top-left-radius: 16px;
      border-bottom-right-radius: 16px;
      .icon {
        &.type-1 {
          width: 21.033px;
          height: 12px;
        }
        &.type-2 {
          width: 12px;
          height: 12px;
        }
        &.type-3 {
          width: 19px;
          height: 16px;
        }
      }
    }
  }
  &.show-btn {
    .btn-header {
      display: block;
    }
  }
  .noif-count {
    position: absolute;
    min-width: 12px;
    padding: 0 1px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid #ffcfdc;
    background-color: #fc6585;
    line-height: 10px;
    color: #fff;
    font-size: 0.75rem;
    text-align: center;
    font-weight: bold;
  }
}
