/* login.scss
  ------------------------------------------------------------ */
#login {
  background-image: url('../img/bg-login.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-inner {

  }
  .login-hdg {
    font-size: 1.2rem;
    color : #50C1FF;
    text-align: center;
    text-indent: 2px;
    letter-spacing: 2px;
  }
  .login-list {
    @extend %clf;
    margin-top: 20px;
    > li {
      float: left;
      margin-left: 25px;
      &:first-child {
        margin-left: 0;
        .icon {
           width: 23.521px;
           height: 14.941px;
        }
      }
      &:nth-child(2) .icon {
        width: 8.868px;
        height: 17.076px;
      }
      &:nth-child(3) .icon {
        width: 18.385px;
        height: 14.941px;
      }
    }
    a {
      width: 40px;
      height: 40px;
      display: block;
      border: 3px solid #50C1FF;
      border-radius: 50%;
      position: relative;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #50C1FF;
    }
  }
}
