/* menu.scss
  ------------------------------------------------------------ */
#menu {
  background-color: rgba(0, 0, 0, 0.6);
  .menu-inner {
    background-color: rgba(29,53,97,0.8);
  }
  .menu-user-alien {
    width: 100%;
    height: 185px;
    position: relative;
    background-image: linear-gradient(rgba(80,193,255,0.3) 33%, transparent 33%, transparent);
    background-size: 100% 3px;
    background-repeat: repeat-y;
    animation: profPreviewBgAnim 10s linear infinite;
    border-top: 1px solid rgba(80,193,255,0.5);
    border-bottom: 1px solid rgba(80,193,255,0.5);
    .alien-svg {
      width: 130px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -68%);
      svg {
        width: 100%;
        height: auto;
      }
    }
    .alien-name {
      min-width: 180px;
      max-width: 200px ;
      margin: 0 auto;
      text-align: center;
      background-color: #011944;
      border-radius: 12px;
      height: 24px;
      line-height: 22px;
      border: 1px solid #50c1ff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 22px;
      color: #50c1ff;
      font-size: 1.2rem;
    }

  }
  .menu-btn-list {
    padding: 20px 0 0 15px;
    .btn {
      display: block;
      line-height: 50px;
      font-size: 1.4rem;
      letter-spacing: 1px;
      .icon {
        margin-right: 10px;
        transform: translateY(-1px);
      }
      &.type-1 .icon{
        width: 16.956px;
        height: 17.983px;
      }
      &.type-2 .icon{
        width: 15.875px;
        height: 10.562px;
      }
      &.type-3 .icon{
        width: 15.66px;
        height: 16px;
      }
      &.type-4 .icon{
        width: 19.603px;
        height: 18.755px;
      }
    }
  }
}
