/* mufosvg.scss
  ------------------------------------------------------------ */
.mufo-svg-color-0 {
  fill: #ffffff;
}

.mufo-svg-color-1 {
  fill: #f6d518;
}

.mufo-svg-color-2 {
  fill: #ff82b8;
}

.mufo-svg-color-3 {
  fill: #2aaaff;
}

.mufo-svg-color-4 {
  fill: #e282ff;
}

.mufo-svg-color-5 {
  fill: #81c400;
}

.mufo-svg-color-6 {
  fill: #777777;
}

.mufo-svg-cls-1 {
  isolation: isolate;
}

.mufo-svg-cls-2 {
  fill: #a6f4f2;
  opacity: 0.2;
}

.mufo-svg-cls-11,
.mufo-svg-cls-2 {
  mix-blend-mode: soft-light;
}

.mufo-svg-cls-10,
.mufo-svg-cls-3 {
  fill: #fff;
}

.mufo-svg-cls-3 {
  opacity: 0.2;
}

.mufo-svg-cls-4 {
  opacity: 0.75;
}

.mufo-svg-cls-5 {
  fill: #ffe708;
}

.mufo-svg-cls-6 {
  fill: #f9f4d2;
}

.mufo-svg-cls-7 {
  fill: #777;
}

.mufo-svg-cls-8,
.mufo-svg-cls-9 {
  opacity: 0.5;
}

.mufo-svg-cls-8 {
  mix-blend-mode: multiply;
}

.mufo-svg-cls-11 {
  fill: #231815;
}
