/* mufo.scss
  ------------------------------------------------------------ */
#mufo {
  .mufo-utility {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 133px;
    width: 100%;
    background-color: #011944;
  }
  .mufo-btn-add-song {
    position: absolute;
    bottom: 143px;
    width: 54px;
    height: 54px;
    display: block;
    right: 9px;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.75);
    &.focus {
      animation: btnFocus 1s infinite linear;
    }
  }
  .mufo-list-sns {
    position: absolute;
    left: 0;
    bottom: 143px;
    li:first-child {
      margin-bottom: 8px;
    }
    a {
      width: 44px;
      height: 36px;
      background : rgba(1, 25, 68, 0.8);
      border-top-right-radius: 18px;
      border-bottom-right-radius: 18px;
      position: relative;
      display: block;
    }
    img {
      position: absolute;
      display: block;
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
      box-shadow: 0 0 1px rgba(0,0,0,0.8);
    }
  }
  .mufo-no-song {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: #50c1ff;
      font-size: 1.2rem;
      line-height: 1.8;
      text-align: center;
    }
  }
  .mufo-song-detail {
    padding: 3px 10px 3px 13px;
    height: 55px;
    color: #50c1ff;
    background-color: #011944;
    background-size: 100% 3px;
    background-repeat: repeat-y;
    background-image: linear-gradient(rgba(80,193,255,0.3) 33%, transparent 33%, transparent);
  }
  .mufo-song-detail-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .mufo-song-detail-scroller {
    position: absolute;
    top: 4px;
    left: 0;
    white-space: nowrap;
    animation: autoScrollDetail 10s infinite linear;
  }
  .mufo-song-detail-title {
    font-size: 1.4rem;
  }
  .mufo-song-detail-artist {
    font-size: 1.2rem;
  }
  .mufo-utility-inner {
    @extend %clf;
    height: 30px;
  }
  .mufo-utility-avatar {
    background-color: rgba(36, 215, 255, 0.1);
    width: 30px;
    height: 30px;
    border-top-right-radius: 10px;
    position: relative;
    float: left;
    .alien-svg-parts {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25px;
      height: 25px;
    }
  }
  .mufo-utility-banner {
    display: block;
    float: left;
    width: 185px;
    padding-left: 10px;
    @extend %clf;
    img {
      float: left;
      margin-right: 5px;
    }
    p {
      color : #3D8FB7;
      line-height: 12px;
      letter-spacing: 0.3px;
    }
  }
  .mufo-song-purchase {
    float: right;
    width: 80px;
    height: 24px;
    border: 1px solid #50c1ff;
    border-radius: 12px;
    margin-right: 9px;
    line-height: 22px;
    padding: 0 13px 0 15px;
    letter-spacing: 1px;
    font-size: 1.4rem;
    .icon {
      width: 13.102px;
      height: 13px;
      margin-right: 3px;
      transform: translateY(-2px);
    }
  }
  .mufo-dj-booth {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 90px;
    pointer-events: none;
  }
}

#visualizer-wrap {
  width: calc(100% - 30px);
  height: 0;
  padding-top: 20%;
  margin: -23px auto 0;
  overflow: hidden;
  position: relative;
  opacity: 0;
  transition: opacity 2s;
  transition-delay: 1s;
}

.play #visualizer-wrap {
  opacity: 1;
}

#visualizer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mufo-star-gauge {
  @extend %clf;
  height: 48px;
  position: relative;
  .mufo-star-gauge-btn {
    float: left;
    display: block;
    border: none;
    position: relative;
    width: 44px;
    height: 44px;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
  .mufo-star-gauge-inner {
    overflow: hidden;
    width: calc(100% - 53px);
    padding: 13px 0 0 0;
    position: relative;
  }
  .mufo-star-gauge-bar {
    width: 100%;
    height: 17px;
    border-radius: 6px;
    background-color : rgba(36, 215, 255, 0.4);
    overflow: hidden;
  }
  .mufo-star-gauge-number {
    position: absolute;
    top: 11px;
    left: 6px;
    color : #011944;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .mufo-star-amount {
    position: absolute;
    left: 0;
    top: 13px;
    background-color: #00fce9;
    height: 17px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.full {
      background: linear-gradient(45deg, #ffc400 ,#ffffa9 ,#00fce9 ,#ffffa9, #ffc400);
      background-size: 500% 100%;
      animation: full 6s linear infinite;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

@keyframes full {
  0%{background-position:25% 50%}
  100%{background-position: -100% 50%}
}

#star-effect-wrap {
  position: absolute;
  top: -55px;
  left: 0;
  width: 100%;
  height: 85px;
  pointer-events: none;
}

#star-effect {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

#mufo-hdg-title-scroll {
  overflow: hidden;
  height: 34px;
  background-color: #011944;
  border-top: 2px solid #50c1ff;
  border-bottom: 2px solid #50c1ff;
  .hdg {
    background-color: transparent;
    border: none;
    line-height: 30px;
  }
  &.scroll-on {
    position: relative;
    .scroller {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      padding-left: 17px;
      white-space: nowrap;
      animation: autoScrollDetail 10s infinite linear;
    }
    .hdg {
      text-align: left;
    }
  }
}

@keyframes autoScrollDetail {
  0% {
    transform : translateX(0);
  }
  50% {
    transform : translateX(0);
  }
  100% {
    transform : translateX(-100%);
  }
}

@keyframes btnFocus {
  0% {
    transform : scale(1);
  }
  25% {
    transform : scale(1.2);
  }
  100% {
    transform : scale(1);
  }
}
