
$stage-width : 100%;
$stage-height : 200px;
$jaket-size : 100px;

#player-stage{
  perspective: 200;
  -webkit-perspective: 200;
  width : $stage-width;
  height : $stage-height;
  position: absolute;
  bottom: calc(45% - 10px);

}

.player-stage-inner{
  backface-visibility: visible;
  -webkit-backface-visibility: visible;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform : translateZ(-250px);
  -webkit-transform : translateZ(-250px);

}
.player-box{

  .debug{
    font-size: 18pt;
  }
}

.player-box-plane{
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width : $jaket-size;
  height : $jaket-size;
  margin : 0px;
  position : absolute;
  left : calc((100% - 100px)/2);
  top : 0px;
  img {
    position: absolute;
    height: 100%;
    width: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.player-box-cont{
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform : rotateY(180deg);
  -webkit-transform : rotateY(180deg);
  width : $jaket-size;
  height : $jaket-size;
}

.player-bg-1, .player-bg-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  margin-top: -9px;
}

.player-bg-1 {
  img {
    width: 100px;
    height: 100px;
  }
}

.player-bg-2 {
  img {
    width: 150px;
    height: 150px;
  }
  opacity: 0;
  transition: opacity 2s;
  transition-delay: 1s;
}

.play .player-bg-2 {
  opacity: 1;
}

.player-controller {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  pointer-events: none;
  .icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  .stop {
    visibility: hidden;
  }
  &.play {
    .start {
      animation: fadeOut 0.5s linear 1 forwards;
    }
  }
  &.pause {
    .start {
      visibility: hidden;
    }
    .stop {
      visibility: visible;
      animation: fadeOut 0.5s linear 1 forwards;
    }
  }
}

.no-song {
  .player-bg-1, .player-bg-2, .player-controller {
    display: none;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

.player-loading {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  pointer-events: none;
  transition: opacity 0.2s;
  &.show {
    opacity: 1;
  }
}
