/* profedit.scss
  ------------------------------------------------------------ */
#prof-edit {
  background-color: #1c557f;
  position: relative;
  .prof-preview {
    position: relative;
    height: 236px;
  }
  .prof-txtbox{
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    .txtbox {
      border: 1px solid #50c1ff;
      border-radius: 15px;
      height: 32px;
      background-color: #011944;
      width: 100%;
      text-align: center;
      font-size: 1.6rem;
      color: #50c1ff;
      letter-spacing: 1px;
      &:placeholder-shown {
        color: rgba(80,193,255,0.5);
      }
      &::-webkit-input-placeholder {
        color: rgba(80,193,255,0.5);
      }
    }
  }
  .prof-stage {
    position: absolute;
    top: 16px;
    left: 0;
    width: calc(100% - 30px);
    height: 220px;
    border: 1px solid #50c1ff;
    border-radius: 10px;
    margin: 0 15px 0;
    background-image: linear-gradient(rgba(80,193,255,0.3) 33%, transparent 33%, transparent);
    background-size: 100% 3px;
    background-repeat: repeat-y;
    animation: profPreviewBgAnim 10s linear infinite;
    > svg {
      width: 100%;
      position: absolute;
      top: 12%;
      z-index: 3;
    }
  }
  .prof-tab {
    position: absolute;
    top: 332px;
    width: 100%;
    height: calc(100% - 332px);
    min-height: 220px;
  }
  .prof-tab-controller{
    padding: 0 15px;
    display: flex;
    > li {
      width: 33.33%;
    }
    a {
      font-size: 1.4rem;
      display: block;
      letter-spacing: 1px;
      line-height: 30px;
      text-align: center;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      &.active {
        background-color: #011944;
      }
    }
    .icon {
      margin-right: 5px;
      transform: translateY(-2px);
      &.type-1 {
        width: 12.066px;
        height: 16px;
      }
      &.type-2 {
        width: 15.211px;
        height: 13px;
      }
      &.type-3 {
        width: 13.137px;
        height: 16px;
      }
    }
  }
  .prof-tab-content{
    height: calc(100% - 30px);
    min-height: 190px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #011944;
  }
  .prof-parts-list-1 {
    padding: 8px 15px 0;
    display: flex;
    > li {
      width: 25%;
    }
    .alien-parts {
      width: 72px;
      height: auto;
    }
    label {
      display: block;
      width: 72px;
      height: 72px;
      margin: 0 auto;
    }
    input[type=radio] {
      display: none;
      &:checked + label .alien-color-default {
        stroke: #00fce9;
        stroke-width: 6px;
      }
    }
    svg {
      width: 72px;
      height: 72px;
    }
  }
  .prof-parts-list-2 {
    padding: 8px 15px 0;
    display: flex;
    > li {
      width: 20%;
    }
    .alien-parts {
      width: 72px;
      height: auto;
    }
    label {
      display: block;
      margin: 0 auto;
      width: 30px;
      height: 30px;
      position: relative;
      border-radius: 50%;
      padding-top: 6px;
      &:before {
        content: '';
        display: none;
        width: 48px;
        height: 48px;
        position: absolute;
        top: -9px;
        left: -9px;
        background : url('../img/bg-parts-select.svg') no-repeat 0 0;
      }
    }
    li {
      padding: 9px;
      &:first-child label {
        background-color: #37c45f;
      }
      &:nth-child(2) label {
        background-color: #ce70f9;
      }
      &:nth-child(3) label {
        background-color: #fc7038;
      }
      &:nth-child(4) label {
        background-color: #41d5d8;
      }
      &:nth-child(5) label {
        background-color: #fc5e7d;
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label:before {
        display: block;
      }
    }
  }
  .prof-parts-list-3 {
    padding: 0 12px;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    > li {
      width: 54.8px;
      height: 54.8px;
    }
    label {
      width: 50px;
      height: 50px;
      overflow: hidden;
      display: block;
      margin: 2.4px;
      border-radius: 6px;
      background-color: #2a6d96;
    }
    &.type-1 svg {
      transform: translateY(-11px) scale(2.6);
    }
    &.type-2 svg {
      transform: translateY(3px) scale(2);
    }
    svg {
      width: 50px;
      height: 50px;
    }
    input[type=radio] {
      display: none;
      &:checked + label  {
        margin: 0;
        width: 54.8px;
        height: 54.8px;
        border: 2.4px solid #00fce9;
      }
    }
  }
}

.btn-list.prof {
  position: absolute;
  bottom: 0;
  left: 0;
  > li:last-child a.disabled {
    color : #4490B2;
    pointer-events: none;
  }
  &.only-save {
    > li:first-child {
      display: none;
    }
    > li:last-child {
      width: 100%;
    }
  }
}

@keyframes profPreviewBgAnim {
    0% {background-position: 0 0;}
    100% {background-position: 100% 100%;}
}
