/* structure.scss
  ------------------------------------------------------------ */
#wrap,
body,
html {
  height: 100%;
  overflow: hidden;
}

html.fb-viewer {
  body {
    height: calc(100% - 105px);
  }
}

#wrap {
  position: relative;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 31;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  .menu-inner {
    width: 232px;
    height: 100%;
    padding-top: 44px;
    transform: translateX(-100%);
    transition: transform 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  &.show {
    opacity: 1;
    pointer-events: inherit;
    .menu-inner {
      transform: translateY(0);
    }
  }
}

#activity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 21;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
  @extend %clf;
  .activity-inner {
    width: calc(100% - 44px);
    float: right;
    height: 100%;
    padding: 44px 12px 12px 12px;
    transform: translateX(100%);
    transition: transform 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  &.show {
    pointer-events: inherit;
    opacity: 1;
    .activity-inner {
      transform: translateY(0);
    }
  }
}

#stage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // z-index: 1;
  transition: transform 0.75s;
  &.warp {
    transform: scale(1.15);
  }
}

.stage-inner {
  padding-top: 44px;
  width: 100%;
  height: 100%;
}

.scrollable {
  overflow-y: scroll;
  -webkit-overflow-scrolling : touch;
}

.dialog {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 41;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s;
  &.show {
    pointer-events: inherit;
    opacity: 1;
  }
}

#earth {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  #map-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #earth-kidnapping {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
  }
}

#slide-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: transform 0.3s;
  z-index: 11;
  &.show {
    transform: translateX(0);
  }
}
